# Python cache
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Environment/config files
.env
.envrc

# Logs and alerts
*.log
logs/
alerts.log
fraud_alerts.log

# Generated CSVs
*.csv
!metrics/*.csv     # Keep model metrics
!models/*.pkl      # Keep model files

# Jupyter Notebook
.ipynb_checkpoints/

# Editors/IDEs
.DS_Store
*.swp
*.swo
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Testing / Coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/

# Build/distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
target/

# Docker
*.pid
docker-compose.override.yml

# PyInstaller
*.spec

# Type checking
.mypy_cache/
.dmypy.json
.pytype/
.pyre/

# Misc
*.manifest
*.mo
*.pot
*.pdm-python
.pdm-build/
.ruff_cache/
.pypirc
.cursorignore
.cursorindexingignore
